* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

.header {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 10px;
    color: white;
}

#imagegrid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    align-items: center;
    width: 100%;
    align-content: start;
    grid-auto-flow: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card p {
    margin-top: 2px;
    margin-bottom: 8px;
}

.pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.picbox .pic img {
    cursor: default;
}

.picbox {
    width: 320px;
    padding-left: 10px;
    margin-right: 10px;
}

.commentbox h3 {
    margin-top: 0;
}

#overlaycontent {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    /* bottom: 30px; */
    min-height: 90%;
    max-height: 91%;
    background-color: rgba(20, 20, 20, 0.9);
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    overflow-y: scroll;
    color: white;
    border-radius: 4px;
}

#overlaybackground {
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    z-index: 1;
}
.comment {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 3px;
    margin-top: 5px;
    border-radius: 4px;
}

.comments {
    overflow: auto;
    width: 300px;
}

.picbox {
    margin-top: 30px;
}

.commentbox {
    margin-top: 30px;
}

#close {
    position: absolute;
    top: 20px;
    z-index: 1;
}
.comment {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 3px;
    margin-top: 5px;
}

.comments {
    overflow: auto;
    width: 300px;
}

.picbox {
    margin-top: 30px;
}

.commentbox {
    margin-top: 30px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5em;
    height: 1em;
    /* background-color: orange; */
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#commentinput {
    width: 300px;
}
