body {
    background-color: lightblue;
    font-family: helvetica, arial, sans-serif;
}

#imagegrid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    align-items: center;
    width: 100%;
    align-content: start;
    grid-auto-flow: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pic img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}
